/* Color palette */
@util-color: #FFB366;
@mutable-color: #FF6961;
@number-color: #735843;
@string-color: #77dd77;
@boolean-color: #B378D3;
@binop-color: #464646;
@constructor-color: #8080FF;
@untyped-color: #FFD0FF;

.util{ background-color: @util-color; }
.mutable{ background-color: @mutable-color; }
.number{ background-color: @number-color; }
.string{ background-color: @string-color; }
.boolean{ background-color: @boolean-color; }
.binop{ background-color: @binop-color; }
.constructor{ background-color: @constructor-color; }
.untyped{ background-color: @untyped-color; }


