/* Color palette */
@util-color: #FFB366;
@mutable-color: #FF6961;
@number-color: #735843;
@string-color: #77dd77;
@boolean-color: #B378D3;
@binop-color: #878787;
@constructor-color: #8080FF;
@untyped-color: #FFD0FF;

.util{ 
	.blocks-constructor, .blocks-var, .blocks-let, .blocks-s-let:after{
		background-color: @util-color; 
	}
}
.mutable{ 
	.blocks-constructor, .blocks-var, .blocks-s-var:after{
		background-color: @mutable-color; 
	}
}
.number{ 
	.blocks-constructor, .blocks-var, .blocks-let, .blocks-s-let:after{
		background-color: @number-color; 
	}
}
.string{ 
	.blocks-constructor, .blocks-var, .blocks-let, .blocks-s-let:after{
		background-color: @string-color; 
	}
}
.boolean{ 
	.blocks-constructor, .blocks-var, .blocks-let, .blocks-s-let:after{
		background-color: @boolean-color; 
	}
}
.binop{ 
	.blocks-constructor, .blocks-var, .blocks-let, .blocks-s-let:after{
		background-color: @binop-color; 
	}
}
.constructor{ 
	.blocks-var, .blocks-let, .blocks-s-let:after{
		background: @constructor-color; 
	}
}
.untyped{ 
	.blocks-constructor, .blocks-var, .blocks-let, .blocks-s-let:after{
		background-color: @untyped-color; 
	}
}

